body {
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    color: #FCF3E3;
    margin-left: 5%;
    overflow-x: hidden;
  }

  .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    position: absolute;
    left: 30%;
    top: 30%;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 40%;
    color: black;
    font-family: Abel;
    font-size: x-large;
    text-align: center;
  }

  #btnDelete {
    width: 20%;
    border: none;
    border-radius: 10px;
    padding: 2%;
    font-size: medium;
    cursor: pointer;
    background-color: #99dfc7;
    text-transform: uppercase;
  }

  .closeModal {
    cursor: pointer;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  


.section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: default;
}

.title-box {
    font-family: Days One;
    font-style: normal;
    font-weight: 400;
    line-height: 1vh;
}

.title-box h1 {
    font-size: 6vw;
}

.title-box h2 {
    font-size: 3vw;
}


.input-box span {
    color: #831261;
}


.input-box {
    font-family: Abel;
    font-weight: lighter;
    justify-content: center;
}


.section-input {
    height: 5vw;
    background-color: #D9D9D9;
    padding: 1vb;
    border-radius: 20px;
    display: flex;
    align-items: center;
}


.section-input input {
    outline: none;
    border: none;
    background-color: #D9D9D9;
    width: 150px;
    padding: 2vh;
    text-align: center;
}

.section-input input::placeholder {
    text-align: center;
    font-size: small;
    text-transform: uppercase;
}


.form-btn {
    width: 80px;
    height: fit-content;
    border: none;
    background-color: #be3d98;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: large;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.items {
    margin-top: 5%;
    font-family: Abel;
    width: 95%;
    align-items: center;
    overflow-y: scroll;
    height: 300px;
}


table,
th,
td {
    font-size: 1.8vw;
    text-transform: uppercase;
    cursor: default;
    padding-top: 1.5vh;
    position: relative; 
    text-align: center;
    color: black;
}

table {
    table-layout: fixed;
    width: 100%;
}

table td:nth-child(1) {
    font-weight: bold;
}

table td:nth-child(2) {
    text-transform: capitalize;
}

table td:nth-child(3) {
    font-weight:lighter;
}

th {
    position: relative;
    font-weight: lighter;
    color: #FCF3E3;
}

td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: x-large;
    text-align: center;
    margin-bottom: 50px;
}

.close {
    cursor: pointer;
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #831261;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4d0a38;
  }


.results {
    display: flex;
    justify-content: space-around;
    font-family: Abel;
    max-width: 95%;
    margin-top: 4%;
    text-transform: uppercase;
    color: #FCF3E3;
}

.qtHours-div {
    text-align: center;
}

.qtHours-div h1{
    font-size: 4vw;
    margin: 0;
    color: #fcf3e3bb;
}

.qtLevel-div {
    text-align: center;
}

.qtLevel-div h1{
    font-size: 4vw;
    margin: 0;
}

.qtTotal-div {
    text-align: center;
}

.qtTotal-div h1{
    font-size: 4vw;
    margin: 0;
    color: #fcf3e3bb;
}